.Homepage {
  border: solid;
  background: linear-gradient(black, blue);
  width: 100vw;
  padding: 16px;

  &-landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    &__image {
      height: 55vh;
    }

    &__header {
      transition: transform 200ms;
      font-size: 3.5em;
      text-align:  center;
      margin: 16px;

      &:hover {
        transform: scale(1.2);
        transition: transform 200ms;
      }

      &--slider {
        animation: slidein 250ms forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}